.blog {
  background-color: #110e27;

  &-h2p {
    max-width: 700px;
    position: absolute;
    top: 30%;
    left: 5%;
    @media (min-width: 740px) and (max-width: 1023px) {
      top: 12%;
    }
    @media (max-width: 739px) {
      top: 15%;
    }
  }
  &-h2 {
    color: #fff;
    font-size: 7.2em;
    font-weight: 700;
  }
  &-p {
    color: rgb(111, 98, 147);
    font-size: 14px;
    letter-spacing: 0.2em;
    height: 2.5em;
    width: 8em;
    background-color: #332165;
    text-align: center;
    line-height: 2.5em;
    font-weight: 700;
    border-radius: 2em;
  }
  &--custom {
    display: grid;
    grid-template-columns: 1fr 396px;
    grid-template-rows: repeat(2, 288px);
    grid-area: 3em;
    max-width: 1100px;
    padding: 0 8em;
    margin-top: -68em;
    @media (min-width: 740px) and (max-width: 1023px) {
      margin-top: -23em;
      width: auto;
      padding: 0px;
    }
    @media (max-width: 739px) {
      padding: 0;
      max-width: auto;
      margin-top: 0px;
      display: block;
    }
  }
  &--img {
    width: 600px;
    height: 550px;
    background-color: #1c153c;
    border-radius: 10px;
    @media (min-width: 740px) and (max-width: 1023px) {
      width: auto;
    }
    @media (max-width: 739px) {
      width: 100%;
      height: auto;
    }
    &:hover {
      background-color: #281a50;
      opacity: 0.7;
      transition: 0.2s all;
    }
    &__sub {
      width: 80%;
      padding: 4em 5em;
      border-radius: 6em;
      @media (max-width: 739px) {
        width: 80%;
      }
    }
  }
  &-pp {
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.2em;
    height: 2.4em;
    width: 8em;
    background-color: #814bf6;
    text-align: center;
    line-height: 2.4em;
    font-weight: 700;
    border-radius: 2em;
    margin-bottom: 15px;
  }
  &-h22 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    @media (max-width: 739px) {
      font-size: 16px;
    }
  }
  &--h2pp {
    padding: 4em 5em;
    @media (max-width: 739px) {
      padding: 20px 0;
      display: inline-block;
    }
  }
  &--box {
    width: 400px;
    height: 260px;
    background-color: #1c153c;
    margin-bottom: 30px;
    border-radius: 10px;
    @media (min-width: 740px) and (max-width: 1023px) {
      width: auto;
    }
    @media (max-width: 739px) {
      display: none;
    }
  }
  &-pd {
    padding: 3em 4em;

    &:hover {
      background-color: #281a50;
      opacity: 0.7;
      transition: 0.2s all;
    }
  }
  &-time {
    color: #ccc;
    font-size: 16px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &::before {
      position: absolute;
      content: "";
      width: 20em;
      height: 1px;
      background-color: #ccc;
      opacity: 0.2;
      margin-top: -6px;
      @media (max-width: 739px) {
        left: 17%;
        width: 15em;
      }
    }
    &__hover {
      color: #814bf6;
      margin-right: 10em;
      @media (min-width: 740px) and (max-width: 1023px) {
        margin-right: 0px;
      }
      @media (max-width: 739px) {
        margin-right: 0px;
      }
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
  &--img__doks {
    margin-top: -7.5em;
    @media (max-width: 739px) {
      margin-top: -3.5em;
    }
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  animation: rotate 2s infinite linear;
}
